<!-- <form action="/restaurant" method="post">
  <%= hidden_field_tag :autenticity_token, form_autenticity_token %>
  <input type="text" name="name">
  <input type="text" name="address">
  <input type="number" name="phone_number">
  <input type="text" name="category">
  <input type="submit">
</form>
 -->
